In [106]:
import pandas as pd
import numpy as np
import pickle
career = pd.read_csv(r"C:\Users\HP\Documents\GitHub\minor-project\student_marksheet_final.data")

In [107]:
career

,Student ID,English,Mathematics,Science,Social Studies,Logical Reasoning,Computer Awareness,Courses,Interest
0,Student_1_1,77,84,82,78,84,91,DIPLOMA,Computer Science and Information Technology
1,Student_1_2,75,93,85,75,83,84,DIPLOMA,Mechanical and Electrical
2,Student_1_3,78,80,85,80,81,87,DIPLOMA,Electronics and Communication
3,Student_1_4,79,82,75,81,87,80,DIPLOMA,Construction and Design
4,Student_1_5,92,81,80,80,83,85,DIPLOMA,Hospitality and Event Management
...,...,...,...,...,...,...,...,...,...
9999,Student433,40,41,40,40,41,40,VOCATIONAL,Culinary Studies and Cooking
10000,Student434,41,40,40,40,41,41,VOCATIONAL,Culinary Studies and Cooking
10001,Student435,41,40,41,41,40,40,VOCATIONAL,Culinary Studies and Cooking
10002,Student436,40,40,41,41,40,41,VOCATIONAL,Culinary Studies and Cooking
10003,Student437,41,41,40,41,40,41,VOCATIONAL,Culinary Studies and Cooking

In [108]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
career['Courses'] = label_encoder.fit_transform(career['Courses'])
x = np.array(career.iloc[:, 1:8])

In [109]:
x

array([[77, 84, 82, ..., 84, 91,  0],
       [75, 93, 85, ..., 83, 84,  0],
       [78, 80, 85, ..., 81, 87,  0],
       ...,
       [41, 40, 41, ..., 40, 40,  2],
       [40, 40, 41, ..., 40, 41,  2],
       [41, 41, 40, ..., 40, 41,  2]], dtype=int64)

In [110]:
y = np.array(career.iloc[:, 8])

In [111]:
y

array(['Computer Science and Information Technology',
       'Mechanical and Electrical', 'Electronics and Communication', ...,
       'Culinary Studies and Cooking', 'Culinary Studies and Cooking',
       'Culinary Studies and Cooking'], dtype=object)

In [112]:
career.columns

Index(['Student ID', 'English', 'Mathematics', 'Science', 'Social Studies',
       'Logical Reasoning', 'Computer Awareness', 'Courses', 'Interest'],
      dtype='object')

In [113]:
career.head()

,Student ID,English,Mathematics,Science,Social Studies,Logical Reasoning,Computer Awareness,Courses,Interest
0,Student_1_1,77,84,82,78,84,91,0,Computer Science and Information Technology
1,Student_1_2,75,93,85,75,83,84,0,Mechanical and Electrical
2,Student_1_3,78,80,85,80,81,87,0,Electronics and Communication
3,Student_1_4,79,82,75,81,87,80,0,Construction and Design
4,Student_1_5,92,81,80,80,83,85,0,Hospitality and Event Management

In [114]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3, random_state = 524)

In [118]:
x_train

array([[42, 41, 42, ..., 43, 41,  2],
       [53, 53, 52, ..., 52, 52,  2],
       [51, 51, 53, ..., 51, 53,  2],
       ...,
       [80, 80, 89, ..., 80, 79,  0],
       [60, 74, 73, ..., 66, 66,  1],
       [76, 93, 81, ..., 82, 84,  0]], dtype=int64)

In [149]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
scores = {}
knn = KNeighborsClassifier(n_neighbors=9)

knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
scores[5] = metrics.accuracy_score(y_test, y_pred)
print('Accuracy=',scores[5]*100)

Accuracy= 97.00199866755497