In [3]:
import pandas as pd
import numpy as np
import pickle
career = pd.read_excel(r"C:\Users\HP\Documents\GitHub\minor-project\Datasets\student_marksheet_final1.xlsx")

In [4]:
career

,Student ID,English,Mathematics,Science,Social Studies,Logical Reasoning,Computer Awareness,Courses,Interest
0,Student_1_1,77,84,82,78,84,91,DIPLOMA,Computer Science and Information Technology
1,Student_1_2,75,93,85,75,83,84,DIPLOMA,Mechanical and Electrical
2,Student_1_3,78,80,85,80,81,87,DIPLOMA,Electronics and Communication
3,Student_1_4,79,82,75,81,87,80,DIPLOMA,Construction and Design
4,Student_1_5,92,81,80,80,83,85,DIPLOMA,Hospitality and Event Management
...,...,...,...,...,...,...,...,...,...
12110,NaN,91,91,91,91,91,91,DIPLOMA,Computer Science and Information Technology
12111,NaN,92,92,92,92,92,92,DIPLOMA,Computer Science and Information Technology
12112,NaN,93,93,93,93,93,93,DIPLOMA,Computer Science and Information Technology
12113,NaN,94,94,94,94,94,94,DIPLOMA,Computer Science and Information Technology
12114,NaN,95,95,95,95,95,95,DIPLOMA,Computer Science and Information Technology

In [5]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
career['Courses'] = label_encoder.fit_transform(career['Courses'])
x = np.array(career.iloc[:, 1:8])

In [6]:
x

array([[77, 84, 82, ..., 84, 91,  0],
       [75, 93, 85, ..., 83, 84,  0],
       [78, 80, 85, ..., 81, 87,  0],
       ...,
       [93, 93, 93, ..., 93, 93,  0],
       [94, 94, 94, ..., 94, 94,  0],
       [95, 95, 95, ..., 95, 95,  0]], dtype=int64)

In [7]:
y = np.array(career.iloc[:, 8])

In [8]:
y

array(['Computer Science and Information Technology',
       'Mechanical and Electrical', 'Electronics and Communication', ...,
       'Computer Science and Information Technology',
       'Computer Science and Information Technology',
       'Computer Science and Information Technology'], dtype=object)

In [9]:
career.columns

Index(['Student ID', 'English', 'Mathematics', 'Science', 'Social Studies',
       'Logical Reasoning', 'Computer Awareness', 'Courses', 'Interest'],
      dtype='object')

In [10]:
career.head()

,Student ID,English,Mathematics,Science,Social Studies,Logical Reasoning,Computer Awareness,Courses,Interest
0,Student_1_1,77,84,82,78,84,91,0,Computer Science and Information Technology
1,Student_1_2,75,93,85,75,83,84,0,Mechanical and Electrical
2,Student_1_3,78,80,85,80,81,87,0,Electronics and Communication
3,Student_1_4,79,82,75,81,87,80,0,Construction and Design
4,Student_1_5,92,81,80,80,83,85,0,Hospitality and Event Management

In [11]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3, random_state = 1)

In [12]:
x_train

array([[55, 60, 59, ..., 61, 59,  1],
       [16,  5, 74, ...,  7,  4,  2],
       [55, 57, 56, ..., 55, 55,  1],
       ...,
       [83, 81, 86, ..., 83, 77,  0],
       [60, 73, 71, ..., 72, 69,  1],
       [80, 87, 82, ..., 85, 85,  0]], dtype=int64)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
scores = {}
knn = KNeighborsClassifier(n_neighbors=9)

knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
scores[5] = metrics.accuracy_score(y_test, y_pred)
print('Accuracy=',scores[5]*100)

Accuracy= 82.9436038514443