In [42]:
import pandas as pd
import numpy as np
import pickle
career = pd.read_excel(r"C:\Users\HP\Documents\GitHub\minor-project\Datasets\student_marksheet_final3.xlsx")

In [43]:
career

,Student ID,English,Mathematics,Science,Social Studies,Logical Reasoning,Computer Awareness,Branch,Course
0,Student_1_1,85,88,86,69,75,94,Diploma,Diploma in Computer Science and Information Te...
1,Student_1_2,84,93,90,47,80,89,Diploma,Diploma in Mechanical and Electrical
2,Student_1_3,75,80,81,54,80,91,Diploma,Diploma in Electronics and Communication
3,Student_1_4,82,89,85,95,83,87,Diploma,Diploma in Construction and Design
4,Student_1_5,84,75,74,84,78,83,Diploma,Diploma in Hospitality and Event Management
...,...,...,...,...,...,...,...,...,...
67995,Student_3000_4,43,49,43,52,50,44,Vocational,Vocational in Hospitality and Event Management
67996,Student_3000_5,42,48,39,40,45,43,Vocational,"Vocational in Finance, Business and Marketing"
67997,Student_3000_6,48,35,37,46,44,43,Vocational,Vocational in Arts and Media
67998,Student_3000_7,46,44,54,41,47,48,Vocational,Vocational in Physical Education and Wellness
67999,Student_3000_8,35,35,37,39,36,35,Vocational,Vocational in Culinary Studies and Cooking

In [44]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
career['Branch'] = label_encoder.fit_transform(career['Branch'])
x = np.array(career.iloc[:, 1:8])

In [45]:
x

array([[85, 88, 86, ..., 75, 94,  0],
       [84, 93, 90, ..., 80, 89,  0],
       [75, 80, 81, ..., 80, 91,  0],
       ...,
       [48, 35, 37, ..., 44, 43,  2],
       [46, 44, 54, ..., 47, 48,  2],
       [35, 35, 37, ..., 36, 35,  2]], dtype=int64)

In [46]:
y = np.array(career.iloc[:, 8])

In [47]:
y

array(['Diploma in Computer Science and Information Technology',
       'Diploma in Mechanical and Electrical',
       'Diploma in Electronics and Communication', ...,
       'Vocational in Arts and Media',
       'Vocational in Physical Education and Wellness',
       'Vocational in Culinary Studies and Cooking'], dtype=object)

In [48]:
career.columns

Index(['Student ID', 'English', 'Mathematics', 'Science', 'Social Studies',
       'Logical Reasoning', 'Computer Awareness', 'Branch', 'Course'],
      dtype='object')

In [49]:
career.head()

,Student ID,English,Mathematics,Science,Social Studies,Logical Reasoning,Computer Awareness,Branch,Course
0,Student_1_1,85,88,86,69,75,94,0,Diploma in Computer Science and Information Te...
1,Student_1_2,84,93,90,47,80,89,0,Diploma in Mechanical and Electrical
2,Student_1_3,75,80,81,54,80,91,0,Diploma in Electronics and Communication
3,Student_1_4,82,89,85,95,83,87,0,Diploma in Construction and Design
4,Student_1_5,84,75,74,84,78,83,0,Diploma in Hospitality and Event Management

In [50]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3, random_state = 1)

In [51]:
x_train.shape

(47600, 7)

In [67]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
scores = {}
knn = KNeighborsClassifier(n_neighbors=9)
input_data = [[83,88 , 80, 40, 84, 90, 0]]
knn.fit(x_train, y_train)
y_pred = knn.predict(input_data)
#scores[5] = metrics.accuracy_score(y_test, y_pred)
#print(scores[5]*100)
print(y_pred)

['Diploma in Computer Science and Information Technology']

In [53]:
model_file = "career_recommendation_model.pkl"

with open(model_file, 'wb') as file:  
    pickle.dump(knn, file)

In [54]:
from joblib import dump, load

# Save the model using joblib
dump(knn, 'model_filename.joblib')

# Load the model using joblib
#loaded_model = load('model_filename.joblib')

['model_filename.joblib']