In [18]:
import pandas as pd
import numpy as np
import pickle
career = pd.read_excel(r"G:\minor-project\Datasets\student_marksheet_final3.xlsx")

In [19]:
career

,Student ID,English,Mathematics,Science,Social Studies,Logical Reasoning,Computer Awareness,Branch,Course
0,Student_1_1,85,88,86,69,75,94,Diploma,Computer Science and Information Technology (D...
1,Student_1_2,84,93,90,47,80,89,Diploma,Mechanical and Electrical (Diploma)
2,Student_1_3,75,80,81,54,80,91,Diploma,Electronics and Communication (Diploma)
3,Student_1_4,82,89,85,95,83,87,Diploma,Construction and Design (Diploma)
4,Student_1_5,84,75,74,84,78,83,Diploma,Hospitality and Event Management (Diploma)
...,...,...,...,...,...,...,...,...,...
9995,Student_437_8,35,38,35,38,37,35,Vocational,Culinary Studies and Cooking
9996,Student_438_1,40,50,48,45,43,45,Vocational,Computer Science and Information Technology
9997,Student_438_2,55,50,50,38,47,50,Vocational,Mechanical and Electrical
9998,Student_438_3,51,47,45,52,53,42,Vocational,Construction and Design
9999,Student_438_4,51,43,45,50,47,46,Vocational,Hospitality and Event Management

In [20]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
career['Branch'] = label_encoder.fit_transform(career['Branch'])
x = np.array(career.iloc[:, 1:8])

In [21]:
x

array([[85, 88, 86, ..., 75, 94,  0],
       [84, 93, 90, ..., 80, 89,  0],
       [75, 80, 81, ..., 80, 91,  0],
       ...,
       [55, 50, 50, ..., 47, 50,  2],
       [51, 47, 45, ..., 53, 42,  2],
       [51, 43, 45, ..., 47, 46,  2]], dtype=int64)

In [22]:
y = np.array(career.iloc[:, 8])

In [23]:
y

array(['Computer Science and Information Technology (Diploma)',
       'Mechanical and Electrical (Diploma)',
       'Electronics and Communication (Diploma)', ...,
       'Mechanical and Electrical', 'Construction and Design',
       'Hospitality and Event Management'], dtype=object)

In [24]:
career.columns

Index(['Student ID', 'English', 'Mathematics', 'Science', 'Social Studies',
       'Logical Reasoning', 'Computer Awareness', 'Branch', 'Course'],
      dtype='object')

In [25]:
career.head()

,Student ID,English,Mathematics,Science,Social Studies,Logical Reasoning,Computer Awareness,Branch,Course
0,Student_1_1,85,88,86,69,75,94,0,Computer Science and Information Technology (D...
1,Student_1_2,84,93,90,47,80,89,0,Mechanical and Electrical (Diploma)
2,Student_1_3,75,80,81,54,80,91,0,Electronics and Communication (Diploma)
3,Student_1_4,82,89,85,95,83,87,0,Construction and Design (Diploma)
4,Student_1_5,84,75,74,84,78,83,0,Hospitality and Event Management (Diploma)

In [26]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3, random_state = 1)

In [27]:
x_train.shape

(7000, 7)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
scores = {}
knn = KNeighborsClassifier(n_neighbors=9)
input_data = [[83,88 , 80, 40, 84, 90, 0]]
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
scores[5] = metrics.accuracy_score(y_test, y_pred)
print(scores[5]*100)
print(y_pred)

57.4
['Arts and Media' 'Hospitality and Event Management (Diploma)'
 'Electronics and Communication' ...
 'Computer Science and Information Technology' 'Construction and Design'
 'Mechanical and Electrical (Diploma)']

In [29]:
model_file = "career_recommendation_model.pkl"

with open(model_file, 'wb') as file:  
    pickle.dump(knn, file)

In [30]:
from joblib import dump, load

# Save the model using joblib
dump(knn, 'model_filename.joblib')

# Load the model using joblib
#loaded_model = load('model_filename.joblib')

['model_filename.joblib']